/* header banner image sur toutes les pages .css - changer juste le lien de l'image !*/
.headerImage{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 1009px;
    background-image: url(img/banner-error404.jpg); /* < ici !*/
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
   
}
.headerImage:after{
    content: "";
    background-color: #403038;
    width: 100%;
    height: 1009px;
    position: absolute;
    opacity: 0.6;
    z-index: 1;
}

.headerImage h1{
    z-index: 2;
}
/* ------------------------------------------------------------------------------------------------- */

.error {
    font-family: 'Special Elite', cursive;
    color: white;
    font-size: 6rem;
    margin-bottom: 0;
}

.headerImage p {
    margin: 0 auto;
}

.errorButton {
    z-index: 2;
    margin: 30px auto 80px auto;
  
}

.cta {
    display: inline;
}

.errorButton a:first-of-type{
    margin-right: 30px;
}