/* Header banner image */
.headerImage{
    height: 200px;
    background-image: url(img/banner-a-propos.jpeg);
}
.headerImage:after{
    height: 200px;
}

/* Main */
main{
    width: 80%;
    margin: auto;
    max-width: 1280px;
}

.container {
    width: 880px;
    margin: auto;
}

.container > article {  
    display: flex;
}

.paragraphe {
    font-size: 0.8rem;
    font-weight: 300;
    padding: 15px 50px;
    margin: 0%;
    box-sizing: border-box;
}

.images {
    object-fit: cover;
    display: block;
}

.texte  {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*---------- Premier Bloc "MARIE-LAURE, c'est elle" */


.first {
    background-color:#edd961 ;
}


/*---------- deuxième bloc " elle fait quoi? */
.second {
    background: #403038;
    color: white;
   
}
.second .images {
    order: 2;
    
}
/*---------- troisième bloc "Et elle fait ça comment ?" */

.third {
    background: #750663;
    color: white;
    
}

/* ------- quatrième bloc  "Son challenge ?" */

.four  {
    background: #edd961;
    color: #403038;
    order: 2;
    margin-bottom: 80px;
} 


.four .images {
    order: 4 ;
}



/* ---------------- MEDIAQUERIES -------------- */



/*------- TABLETTE------- */

@media screen and (min-width: 600px) and (max-width: 1024px) {
 
   

    /* ----------HEADER ------------ */
    .headerImage{
        height: 140px;
        padding-top: 90px;
    }
    .headerImage:after{
        height: 140px;
    }
    
   
    /* -----------FIN HEADER ---------- */



    /* --------- MAIN ----------- */
    .main {
        margin: 0 auto;
    }

    .container {
        width: 600px;
        margin-inline: auto;
    }

    .container img {
        width: 300px;
        height: 300px;
    }
    .texte {
        min-height: 300px;
    }

    .paragraphe {
        font-size: 0.7rem;
    }
}


/* ----MOBILE ------ */




@media screen and (min-width : 360px) and (max-width : 600px){

     /* ----------HEADER ------------ */

    .headerImage{
        height: 100px;
        padding-top: 90px;
    }
    .headerImage:after{
        height: 100px;
    }
    
    .headerImage p {
        max-width: 80%;
    }
    
    /* -----------FIN HEADER ---------- */


    /* ------ MAIN ------ */


    .container {
        box-sizing: border-box;
        align-items: center;
        width: auto;
        margin-bottom: 40px;
    }

   .container article {
        flex-direction: column;
        align-items: center;
        margin: auto;
        width: 300px;
        min-height: 300px;
    }
   
    .texte {
        min-height: 300px;
    }

    .second .texte {
        order: 2;
    }

    .four .texte {
        order: 4;
    }
  
}







