/* Header banner image */
.headerImage{
    height: 200px;
    background-image: url(img/banner-ateliers.jpg);
}
.headerImage:after{
    height: 200px;
}

/* Main */
main{
    width: 80%;
    margin: auto;
    max-width: 1280px;
}

.mainAteliers p{
    text-align: left;
    color: #403038;
    font-size: 0.8rem;
    font-weight: 300;
    margin: auto;
    padding-bottom: 20px;
    max-width: 800px;
}

/* Bloc images */

.workshopPictures{
    column-width: 25vw;
    column-gap: 0px;
    margin: auto;
    padding-bottom: 80px;
}
figure img{
    display: block;
    width: 100%;
}
.workshopPictures figure{
    margin: 20px 10px;
    max-height: 25vw;
    overflow: hidden;
}
.workshopPictures figure:first-of-type{
    margin-top: 0; /* pour que la première ligne soit à niveau avec les autres */
}

/* Tablet */

@media screen and (min-width: 600px) and (max-width: 1024px) {
    /* Banner image */
    .headerImage{
        height: 140px;
        padding-top: 90px;
    }
    .headerImage:after{
        height: 140px;
    }
}

/* Mobile */

@media screen and (min-width: 360px) and (max-width: 600px){
    /* Banner image */
    .headerImage{
        height: 100px;
        padding-top: 90px;
    }
    .headerImage:after{
        height: 100px;
    }
    .headerImage p{
        max-width: 80%;
    }

    /* Bloc images */

    .workshopPictures{
        column-width: 65vw;
        padding-bottom: 40px;
    }
    .workshopPictures figure{
        margin: 10px 5px;
        max-height: 65vw;
    }
    
}