/* Header banner image */
.headerImage{
    height: 200px;
    background-image: url(img/banner-blog.jpg);
}

.headerImage:after{
    height: 200px;
}

/* Main */
main{
    width: 80%;
    margin: auto;
    max-width: 1280px;
}

.contentActu{
    display: block;
    justify-content: center;
    margin: auto;
    width: 100%;
}

.article {
    display: flex;
    margin: 0;
    margin-bottom: 40px;  
}

.article img{
    display: block;
    height: 100%;
    object-fit: cover;
}

.infoArticleFirst {
    background: #EDD961;
    padding: 0 60px;
    padding-top: 40px;
}
.infoArticleSecond {
    background: #403038;
    padding: 0 60px;
    padding-top: 40px;
}
.info {
    display: block;
    padding: 40px 0;
}

.infoArticleFirst .titleArticle {
    font-size: 1rem;
    color: #403038;
    font-weight: 500;
}

.infoArticleSecond .titleArticle{
    font-size: 1rem;
    color: white;
    font-weight: 500;
}

.infoArticleFirst p {
    font-size: 0.8rem;
    font-weight: 300;
    color: #403038;
}

.infoArticleSecond p {
    font-size: 0.8rem;
    font-weight: 300;
    color: white;
}

.firstDate {
    font-size: 0.7rem;
    font-weight: 300;
    color: #403038;
}

.secondDate {
    font-size: 0.7rem;
    font-weight: 300;
    color: #ffffff;
}
.article .cta{
    width: 150px;
    justify-content: left;
    margin: 60px 0;
}


/* ---------------- MEDIAQUERIES -------------- */

@media screen and (min-width: 600px) and (max-width: 1024px) {   
    
    /* Banner image */
    .headerImage{
        height: 140px;
        padding-top: 90px;
    }
    
    .headerImage:after{
        height: 140px;
    }


}


 
@media screen and (min-width : 375px) and (max-width : 600px){

    /* Banner image */
    .headerImage{
        height: 100px;
        padding-top: 90px;
    }

    .headerImage:after{
        height: 100px;
    }

    .headerImage p{
        max-width: 80%;
    }
    
    .article{
        flex-direction: column;
    }
    .article:nth-child(2){
        flex-direction: column-reverse;
    }
    
}