/* header banner image sur toutes les pages .css - changer juste le lien de l'image !*/
.headerImage{
    padding: 0;
    padding-top: 80px;
    margin: 0;
    width: 100%;
    height: 200px;
    background-image: url(img/banner-cgdv.jpg); /* < ici !*/
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
}
.headerImage:after{
    content: "";
    background-color: #403038;
    width: 100%;
    height: 200px;
    position: absolute;
    opacity: 0.6;
    z-index: 1;
}
.headerImage p{
    z-index: 2;
}


/* ------------------------------------------------------------------------------------------------- */


/* ------------------------------ CONDITIONS GENERALES DE VENTE MAIN -------------------------------------------------------------- */
.container {
    
    margin: auto;
    width: 60%; 
    background-color: white;
    padding-bottom: 80px;
}

.container article p {
    font-size: 0.8rem;
    font-weight: 300;
    margin: auto;
    
}

.article1:before {
    
    content: "";
    background-image: url(img/guillemetsOuverture.png);
    background-size: 100%;
    width: 200px;
    height: 200px;
    float:left ;
    min-width: auto;
    margin: 0px 20px 20px 0px;
}
.p-4:after {
    content: "";
    background-image: url(img/guillemetsFerme.png);
    background-size: 100%;
    width: 200px;
    height: 200px;
    float: inline-end;
    min-width: auto;
    margin: 20px 0px 0px 20px;
}



/* ------------------ MEDIAQUERIES ------------------- */


@media screen and (max-width: 1024px) {
  
    .container div{
        flex-direction: column;
        height: auto;
    }
    .container div img, .container div p {
        width: 100%;
        min-height: 400px;
    }
    .container .second p {
        order: 2;
    }
    .article1:before {
        display: none;
    }
    .article4::before {
        display: none;
    }
}


 
@media screen and (max-width : 768px){
    .container {
        width: 90%;
    }
  
}



