/* Header banner image */
.headerImage{
    height: 200px;
    background-image: url(img/banner-cgdv.jpg);
}
.headerImage:after{
    height: 200px;
}

/* Main */
main{
    width: 93.75%;
    margin: auto;
    max-width: 1280px;
    color: #403038;
}

.container {
    margin: auto;
    max-width: 800px;
    background-color: white;
    padding-bottom: 80px;
}
.article{
    display: block;
}
h3 {
    padding: 30px 0px 10px 0px;
}

/* .titleCgdv{
    display: block;
    font-size: 1rem;
    font-weight: 500;
    color: #403038;
    padding-bottom: 10px;
    padding-top: 10px;
} */

article p {
    font-size: 0.8rem;
    font-weight: 300;
    margin: auto;
}
.article1 p{
    font-size: 0.8rem;
    font-weight: 300;
    margin: auto;
}
.article1:before {
    content: "";
    background-image: url(img/guillemetsOuverture.png);
    background-size: 100%;
    width: 180px;
    height: 180px;
    float:left ;
    min-width: auto;
    margin: 0px 20px 20px 0px;
}
.container article:last-of-type p{
    display: flex;
    align-items: flex-end;
}
.container article:last-of-type p:last-of-type:after {
    content: "";
    display:block;
    background-image: url(img/guillemetsFerme.png);
    background-size: 100%;
    width: 180px;
    height: 180px;
    margin: 20px 0px 0px 20px;
    flex-grow: 1;
    flex-shrink: 0;
}


/* ------------------ MEDIAQUERIES ------------------- */


@media screen and (min-width: 600px) and (max-width: 1024px) {
    /* Banner image */
    .headerImage{
        height: 140px;
        padding-top: 90px;
    }
    .headerImage:after{
        height: 140px;
    }

    /* Main */
    .container {
        width: 80%;
    }
    .container div{
        flex-direction: column;
        height: auto;
    }
    .container div img, .container div p {
        width: 100%;
        min-height: 400px;
    }
    .container .second p {
        order: 2;
    }
    .article1:before {
        display: none;
    }

    .container article:last-of-type p:last-of-type:after{
        display: none;
    }
    /* .article4::after {
        display: none;
    } */
}


@media screen and (min-width : 320px) and (max-width : 600px){
    /* Banner image */
    .headerImage{
        height: 100px;
        padding-top: 90px;
    }
    .headerImage:after{
        height: 100px;
    }
    .headerImage p{
        max-width: 80%;
    }

    /* Main */
    .container {
        width: 90%;
    }
    .article1:before {
        display: none;
    }
    .container article:last-of-type p:last-of-type:after{
        display: none;
    }
    /* .article4::after {
        display: none;
    } */
  
}


