/* Header banner image */
.headerImage{
    height: 200px;
    background-image: url(img/banner-evenements.jpg);
}
.headerImage:after{
    height: 200px;
}

/* Main */

main{
    width: 93.75%;
    margin: auto;
    max-width: 1280px;
}

/* ----------------------------------------------------------------- */

/* Navigation filtre */

.filtre ul{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
    padding-bottom: 50px;
}
ul li.active{
    background-color: #403038;
}
.filtre a{
    display: block;
    text-decoration: none;
    color: white;
    font-weight: 300;
    font-size: 0.8rem;
    padding: 10px;
}
.filtre li{
    background-color: #c6c1c4;
    width: 100%;
    text-align: center;
    margin-right: 10px;   
}
.filtre li:hover{
    background-color: #403038;
    color: white;
}
/* ----------------------------------------------------------------- */

/* Bloc évènements */

.flexEvenement {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 1024px;
    padding-top: 40px;
    margin: auto;
    margin-bottom: 80px;
}

.evenement {
    position: relative;
    margin: 0 10px;
    width: 280px;
    height: 400px;
    margin-bottom: 40px;
}

.evenementPhoto {
    width: 100%;
}

.blockDate {
    position: absolute;
    top: 0;
    left: 0;
    width: 20%;
    height: 20%;
    background: #EDD961;
    margin: 0;
    padding: 0 15px;
}
.date {
    text-align: center;
    color: #403038;
    font-weight: 500;
    font-size: 0.9rem;
    margin: 10px 0;
}

.blockInfo {
    position: absolute;
    bottom: 0;
    left: 0;
    background: #403038;
    width: 100%;
    min-height: 150px;
    padding-bottom: 10px;
}
.titreActu {
    color: white;
    margin: 0;
    font-weight: 500;
    margin: 15px 20px;
}
.flexDate {
    display: flex;
    margin-top: auto;
    margin-left: 20px;
}
.flexDate p {
    font-size: 0.7rem;
    margin: 0;
    font-weight: 300;
    padding-left: 8px;
    color: white;
}

.flexLieu {
    display: flex;
    padding-top: 15px;
    margin-left: 20px;
}

.flexLieu p {
    font-size: 0.7rem;
    margin: 0;
    font-weight: 300;
    padding-left: 15px;
    color: white;
}

.cardLink{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    text-indent: -9999px;
    width: 100%;
    height: 100%;
}

/* ----------------------------------------------------------------- */


/* ---------------- MEDIAQUERIES -------------- */

/* Tablet */

@media screen and (min-width: 600px) and (max-width: 1024px) {   

    /* Banner image */
    .headerImage{
        height: 140px;
        padding-top: 90px;
    }
    .headerImage:after{
        height: 140px;
    }

    /* ----------------------------------------------------------------- */

}


/* Mobile */

@media screen and (min-width : 375px) and (max-width : 600px){

    /* Banner image */
    .headerImage{
        height: 100px;
        padding-top: 90px;
    }
    .headerImage:after{
        height: 100px;
    }
    .headerImage p{
        max-width: 80%;
    }

    /* ----------------------------------------------------------------- */

    /* Navigation filtre */

    /* .filtre {
        padding-bottom: 10px;
    } */

    .filtre ul{
        flex-direction: column;
        padding-bottom: 10px;
    }

    .filtre li{
        margin-right: 0;
        margin-bottom: 5px;
    }

    .filtre a::before {
        display: none;
    }

    /* -------------------------------------------------------------------- */
    /* Blocs évènements */
    
    .blockDate {
        width: 16%;
        height: 16%;
        background: #EDD961;
    }
     
    .flexEvenement {
        margin-bottom: 0px;
    }
    /* ----------------------------------------------------------------- */
}