/* header banner image sur toutes les pages .css - changer juste le lien de l'image !*/
.headerImage{
    padding: 0;
    padding-top: 80px;
    margin: 0;
    width: 100%;
    height: 200px;
    background-image: url(img/banner-evenements.jpg); /* < ici !*/
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
}
.headerImage:after{
    content: "";
    background-color: #403038;
    width: 100%;
    height: 200px;
    position: absolute;
    opacity: 0.6;
    z-index: 1;
}
.headerImage p{
    z-index: 2;
}
/* ------------------------------------------------------------------------------------------------- */
main {
    height: 1080px;
}

form {
    text-align: right;
    padding-right: 320px;
    padding-top: 50px;
}

.actu {
    position: relative;
    margin: 0 10px;
    padding-bottom: 50px;
}

.textFloat {
    position: absolute;
    width: 100%;
}

.textInfo {
    background: #403038;
    color: white;
    margin-top: 156px;
    padding: 30px 54.5px 30px 30px;
    min-height: 150px;
    display: flex;
    flex-direction: column;
}

.date {
    background: #EDD961;
    margin: 0;
    padding: 15px;
    width: 24%;
    text-align: center;
    color: #403038;
    font-weight: 500;
    font-size: 1rem;
}

.flexDate {
    display: flex;
    margin-top: auto;
    align-items: center;
}

.flexDate p {
    font-size: 11px;
    margin: 0;
    font-weight: 500;
    padding-left: 8px;
}

.flexDate img {
    text-align: center;
}

.flexLieu {
    display: flex;
    padding-top: 17px;
    align-items: center;
}

.flexLieu p {
    font-size: 11px;
    margin: 0;
    font-weight: 500;
    padding-left: 15px;
}

.titreActu {
    margin: 0;
    font-weight: 500;
    padding-bottom: 25px;
}

.flexEvenement {
    display: flex;
    justify-content:center;
    width: 80%;
    margin: auto;
    max-width: 1000px;
    padding: 10px 0;
}

/* ---------------- MEDIAQUERIES -------------- */

@media screen and (min-width: 600px) and (max-width: 1024px) {   

    main {
        height: 3500px;
    }
    
    .flexEvenement {
        flex-direction: column;
        align-items: center;
    }

}


 
@media screen and (min-width : 375px) and (max-width : 600px){

    .flexEvenement {
        flex-direction: column;
        align-items: center;
    }
    
    main {
        height: 3500px;
    }

}