/* Header banner image */
.headerImage{
    height: 200px;
    background-image: url(img/banner-faq.jpg); /* < ici !*/
}
.headerImage:after{
    height: 200px;
}

/* ----- Main ----- */
main{
    width: 80%;
    margin: auto;
    max-width: 1280px;
}

/* navigation */


.flexIcon {
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
}

.profil a{
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}


.profil a::before {
    content:'';
    background-repeat: no-repeat;
    background-position: 13px;
    display:block;
    position:absolute;
    top:0;
    left:0;
    text-indent:-9999px;
    width:100%;
    height:100%;
}

.commandes::before {
    background-image: url(img/faq-menu-commandes.svg);
    background-size: 10%;
}

.livraison::before {
    background-image: url(img/faq-menu-livraison.svg);
    background-size: 13%;
}

.retours::before {
    background-image: url(img/faq-menu-retours.svg);
    background-size: 10%;
}

.compte::before {
    background-image: url(img/faq-menu-profil.svg);
    background-size: 12%;
}

.paiement::before {
    background-image: url(img/faq-menu-paiements.svg);
    background-size: 10%;
}

/* -------- contenu catégories -------- */


.profil {
    padding-top: 25px;
    padding-bottom: 50px;
}

ul li.active{
    background-color: #750663;
}

.profil li{
    width: 100%;
    padding: 10px 0px;
}

.contRetours{
    display: flex;
    width: 100%;
    font-size: 0.8rem;
}

.bloc{
    display: block;
    width: 50%;
}

.bloc:first-of-type {
    margin: 0 20px 60px 0;
}

.qr {
    display: block;
}

.question {
    background-color: #ECEAEB; 
    padding: 10px;
    margin-bottom: 20px;
}

.reponse {
    font-size: 0.7rem;
    margin-bottom: 20px;
}

.cta {
    padding: 10px;
    width: 50%;
    margin: 20px auto;
    font-size: 0.8rem;
}
