/* Header banner image */
.headerImage{
    height: 200px;
    background-image: url(img/banner-faq.jpg); /* < ici !*/
}
.headerImage:after{
    height: 200px;
}

/* ----- Main ----- */


main{
    width: 80%;
    margin: auto;
    max-width: 1280px;
}


.profil {
    margin: auto;
    margin-bottom: 40px;
    max-width: 800px;
}

.profil ul{
    justify-content: center;
    padding-bottom: 20px;
    flex-wrap: wrap;
    min-width: 70%;
}

.flexIcon {
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
}

.profil a{
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10%;
}


.profil a::before {
    content:'';
    background-repeat: no-repeat;
    background-position: center 50px;
    background-size: 40%;
    display:block;
    position:absolute;
    top:0;
    left:0;
    text-indent:-9999px;
    width:100%;
    height:100%;
}

.commandes::before {
    background-image: url(img/faq-commandes.svg);
}

.livraison::before {
    background-image: url(img/faq-livraison.svg);
}

.retours::before {
    background-image: url(img/faq-retours.svg);
}

.compte::before {
    background-image: url(img/faq-profil.svg);
}

.paiement::before {
    background-image: url(img/faq-paiement.svg);
}



/* ------------------- MEDIA QUERIES ------------------- */



@media screen and (min-width: 600px) and (max-width: 1024px) {
   
    /* Banner image */
    .headerImage{
        height: 140px;
        padding-top: 90px;
    }
    
    .headerImage:after{
        height: 140px;
    }
    
    .profil {
        margin: auto;
        margin-bottom: 40px;
       }

    .flexIcon {
       min-width: 200px;
    }
    
    .profil ul {
        width: 100%;
    }

    .profil a::before {
        background-position: center 25px;
        /* background-size: 60px; */
    }
}



@media screen and (min-width : 375px) and (max-width : 600px){
    /* Banner image */
    .headerImage{
       height: 100px;
       padding-top: 90px;
   }

   .headerImage:after{
       height: 100px;
   }

   .headerImage p{
       max-width: 80%;
   }
   
   .profil {
     margin: auto;
     margin-bottom: 40px;
    }

   .flexIcon{
       margin: 0px;
       margin-bottom: 15px;
       width: 150px;
       height: 150px;

   }

   .profil ul {
       flex-wrap: wrap;
       padding-bottom: 0px;
     
   }

   .profil a::before {
       background-position: center 25px;
       /* background-size: 60px; */

   }

}