/* Header banner image */
.headerImage{
    height: 200px;
    background-image: url(img/banner-faq.jpg); /* < ici !*/
}
.headerImage:after{
    height: 200px;
}

/* ----- Main ----- */


main{
    width: 93.75%;
    margin: auto;
    max-width: 1280px;
    color: #403038;
}


.profil {
    margin: auto;
    margin-bottom: 80px;
}

.profil ul{
    justify-content: center;
    /* padding-bottom: 20px; */
    flex-wrap: wrap;
    max-width: 800px;
    margin: auto;
    /* min-width: 70%; */
}

.flexIcon {
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
}

.profil a{
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 25%;
}


.profil a::before {
    content:'';
    background-repeat: no-repeat;
    background-position: center 50px;
    display:block;
    position:absolute;
    top:0;
    left:0;
    text-indent:-9999px;
    width:100%;
    height:100%;
}

.commandes::before {
    background-image: url(img/mescommandes.svg);
    background-size: 30%;
}

.livraison::before {
    background-image: url(img/mesadresses.svg);
    background-size: 38%;
}

.retours::before {
    background-image: url(img/faq-retours.svg);
    background-size: 30%;
}

.compte::before {
    background-image: url(img/mesinformations.svg);
    background-size: 30%;
}

.paiement::before {
    background-image: url(img/faq-paiement.svg);
    background-size: 30%;
}



/* ------------------- MEDIA QUERIES ------------------- */



@media screen and (min-width: 600px) and (max-width: 1024px) {
   
    /* Banner image */
    .headerImage{
        height: 140px;
        padding-top: 90px;
    }
    
    .headerImage:after{
        height: 140px;
    }
    
    .profil {
        margin: auto;
        margin-bottom: 40px;
       }

    .flexIcon {
       min-width: 200px;
    }
    
    .profil ul {
        max-width: 700px;
    }

    .profil a::before {
        background-position: center 60px;
        /* background-size: 60px; */
    }
}



@media screen and (min-width : 360px) and (max-width : 600px){
    /* Banner image */
    .headerImage{
       height: 100px;
       padding-top: 90px;
   }

   .headerImage:after{
       height: 100px;
   }

   .headerImage p{
       max-width: 80%;
   }
   
   .profil {
     margin: auto;
     margin-bottom: 40px;
    }

   .flexIcon{
       margin: 0px;
       margin-bottom: 10px;
       width: 140px;
       height: 140px;
   }

   .profil ul {
        max-width: 400px;
   }

   .profil a::before {
       background-position: center 35px;
   }

}