/* Header banner image */
.headerImage{
    height: 200px;
    background-image: url(img/banner-evenements.jpg);
}
.headerImage:after{
    height: 200px;
}

/* Main */
main{
    width: 93.75%;
    margin: auto;
    max-width: 1280px;
}
.article{
    max-width: 800px;
    margin: auto;
}
.date {
    background: #EDD961;
    padding: 10px 20px;
    font-size: 0.8rem;
}
.eventDate{
    padding-top: 40px;
}
.eventBlock{
    display: flex;
}
.eventBlock img{
    width: 100%;
    display: block;
    object-fit: cover;
}
.eventBlock p{
    margin: 1em 0;
}
figure{
    width: 50%;
}

.eventDetails{
    padding-left: 50px;
    font-size: 0.8rem;
    line-height: 1.2rem;
    color: #403038;
    background-color: #ECEAEB;
    width: 50%;
}
.text p{
    font-size: 1rem;
    font-weight: 300;
    color: #403038;
    margin: 30px 0;
    /* padding-bottom: 20px; */
}
.eventDateHours{
    position: relative;
}
.eventDateHours:before{
    content: "";
    position: absolute;
    background-image: url(img/events/icone-horloge-purple.svg);
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    top: 0px;
    left: -30px;
}
.eventLocation{
    position: relative;
}
.eventLocation:before{
    content: "";
    position: absolute;
    background-image: url(img/events/icone-map-purple.svg);
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    top: 0px;
    left: -30px;
}
.eventContact{
    position: relative;
}
.eventContact:before{
    content: "";
    position: absolute;
    background-image: url(img/events/icone-info-purple.svg);
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    top: 0px;
    left: -30px;
}


/* ---------------- MEDIAQUERIES -------------- */

/* Tablet */

@media screen and (min-width: 600px) and (max-width: 1024px) {   

    /* Banner image */
    .headerImage{
        height: 140px;
        padding-top: 90px;
    }
    .headerImage:after{
        height: 140px;
    }

    /* Main */
    .article{
        max-width: 620px;
        margin: auto;
    }
    figure{
        width: 55%;
    }
    .eventDetails{
        width: 45%;
        font-size: 0.8rem;
    }
    .eventBlock p{
        margin: 0.8em 0;
    }

}


/* Mobile */

@media screen and (min-width : 360px) and (max-width : 600px){

    /* Banner image */
    .headerImage{
        height: 100px;
        padding-top: 90px;
    }
    .headerImage:after{
        height: 100px;
    }
    .headerImage p{
        max-width: 80%;
    }

    /* Main */
    .eventBlock{
        display: flex;
        flex-direction: column;
    }
    .article{
        max-width: 300px;
        margin: auto;
    }
    figure{
        width: 100%;
    }
    .eventDetails{
        padding-left: 40px;
        width: 100%;
        box-sizing: border-box;
    }


}