/* Header banner image */
.headerImage{
    height: 200px;
    background-image: url(img/banner-ficheactudeuxplus.jpg);
}
.headerImage:after{
    height: 200px;
}

/* Main */

main{
    width: 93.75%;
    margin: auto;
    max-width: 1280px;
}


/* ---------------- MEDIAQUERIES -------------- */

@media screen and (min-width: 600px) and (max-width: 1024px) {

    /* Banner image */
    .headerImage{
        height: 140px;
        padding-top: 90px;
    }
    
    .headerImage:after{
        height: 140px;
    }

}


@media screen and (min-width : 375px) and (max-width : 600px){

    /* Banner image */
    .headerImage{
        height: 100px;
        padding-top: 90px;
    }

    .headerImage:after{
        height: 100px;
    }

    .headerImage p{
        max-width: 80%;
    }

}