/* Header banner image */
.headerImage{
    height: 200px;
    background-image: url(img/banner-ficheactudeux.jpg);
}
.headerImage:after{
    height: 200px;
}

/* Main */
main{
    width: 80%;
    margin: auto;
    max-width: 1280px;
}

.textArticle {
    font-size: 1rem;
    font-weight: 300;
}

.date {
    background: #EDD961;
    padding: 10px 20px;
}

.article {
    padding: 40px 0 80px 0 ;
}


/* ---------------- MEDIAQUERIES -------------- */

@media screen and (min-width: 600px) and (max-width: 1024px) {

    /* Banner image */
    .headerImage{
        height: 140px;
        padding-top: 90px;
    }
    
    .headerImage:after{
        height: 140px;
    }

}


@media screen and (min-width : 375px) and (max-width : 600px){

    /* Banner image */
    .headerImage{
        height: 100px;
        padding-top: 90px;
    }

    .headerImage:after{
        height: 100px;
    }

    .headerImage p{
        max-width: 80%;
    }

}