/* Header banner image */
.headerImage{
    height: 200px;
    background-image: url(img/banner-ficheactuun.jpg);
}
.headerImage:after{
    height: 200px;
}

/* Main */

main{
    width: 93.75%;
    margin: auto;
    max-width: 1280px;
}

/* ----------------------------------------------------------------- */

/* L'article */

.article {
    padding: 40px 0 80px 0 ;
}

.date {
    background: #EDD961;
    padding: 5px 15px;
    font-size: 0.8rem;
}

.textArticle {
    font-size: 1rem;
    font-weight: 300;
    max-width: 800px;
    margin: 0 auto;
}

/* ----------------------------------------------------------------- */

/* ---------------- MEDIAQUERIES -------------- */

@media screen and (min-width: 600px) and (max-width: 1024px) {

    /* Banner image */
    .headerImage{
        height: 140px;
        padding-top: 90px;
    }
    
    .headerImage:after{
        height: 140px;
    }

}


@media screen and (min-width : 375px) and (max-width : 600px){

    /* Banner image */
    .headerImage{
        height: 100px;
        padding-top: 90px;
    }

    .headerImage:after{
        height: 100px;
    }

    .headerImage p{
        max-width: 80%;
    }
    .article {
        padding: 40px 0 40px 0 ;
    }
    

}