/* Header banner image */
.headerImage{
    height: 200px;
    background-image: url(img/banner-connexion.jpg); 
}
.headerImage:after{
    height: 200px;
}
.headerImage p{
    z-index: 2;
}

/* ----- Main ----- */
main{
    width: 80%;
    margin: auto;
    max-width: 1280px;
}

/* Formulaire */
.formContact{
    display: flex;
    width: 100%;
}

.formPart{
    display: block;
    width: 50%;
}

label{
    font-size: 0.8rem;
    color: #403038;
    font-weight: 300;
    display: block;
}

input{
    width: 90%;
    height: 30px;
    margin-bottom: 20px;
}

button{
    border: none;
}

.codePostalVille {
    display: flex;
    width: 90%;
    flex-direction: row;
}
.code {
    display: block;
    flex: 1;
}

.ville {
    flex: 2;

}
.ville input {
   width:100%;
}




/*--------- mot de passe oeil -----------*/

.password {
    position: relative;
    
}

.test {
    padding-right: 18%;
}

#pwd {
    width: 100%;
    padding-right: 10%;
}

.showhide {
    background: url(img/vector-invisible.png);
    background-size: 25px;
    background-repeat: no-repeat;
    width: 38px;
    height: 25px;
    position: absolute;
    top: 36px;
    right: 36px;
    text-indent: -9999px;
    border: none;
    cursor: pointer;
}
.shown .showhide{
    background: url(img/vector-visible.png);
}



/* ------------MEDIA QUERIES----------------- */
/* Tablet */

@media screen and (min-width: 600px) and (max-width: 1024px) {
    /* Banner image */
    .headerImage{
        height: 140px;
        padding-top: 90px;
    }
    .headerImage:after{
        height: 140px;
    }
    .codePostalVille {
        display: block;
    }
    .code  input {
        width: 100%;
    }
}

/* Mobile */

@media screen and (min-width: 360px) and (max-width: 600px){
    /* Banner image */
    .headerImage{
        height: 100px;
        padding-top: 90px;
    }
    .headerImage:after{
        height: 100px;
    }
    .headerImage p{
        max-width: 80%;
    }

    /* Formulaire */
    .formContact{
        display: block;
        width: 100%;
    }

    .formPart{
        width: 100%;
    }

    input{
        width: 98%;
    }
    .codePostalVille {
        display: block;
    }
    .code  input {
        width: 109%;
    }
    .ville input {
        width: 109%;
    }
}