/* normalize.css tu télécharges le fichier css et tu peux le lier dans l'html */ 
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

html{
    font-size: 20px;
}
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
img{
    max-width: 100%;
}

/* header */
.menuBurger{
    display: none;
}
.opened .menuBurger{
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: white;
    transform: translateY(100%);
}
#burger{
    display: none;
}
header{
    position: fixed;
    width: 100%;
    z-index: 10000;
}
nav{
    position: relative;
    display: flex;
    background-color: white;
    justify-content: space-around;
    /* padding: 0 80px; */
    align-items: flex-end;
    padding-bottom: 10px;
}
nav ul{
    list-style: none; 
    display: flex;
    margin: 0;
    padding: 0;
    /* align-items: flex-end; */
    /* height: 80px; */
}
nav ul li{
    position: relative;
    margin: 0px 15px;
}
nav ul a{
    text-decoration: none;
    color: #403038;
    font-size: 0.7rem;
    text-transform: uppercase;
    border-bottom: 3px solid transparent;
    transition: .5s;
}
nav ul a:hover{
    border-bottom: 3px solid #750663;
}
ul a.active{
    border-bottom: 3px solid #750663;
}

.logo{
    width: 120px;
    min-width: 120px;
    padding-top: 25px;
    padding-right: 10px;
    padding-left: 10px;
}

/* nav partie pictos*/
.userMenu{
    flex-grow: 1; /* prends toute la place */
    display: flex;
    justify-content: flex-end; /* se dispose à la fin */
    align-items: center;
    padding: 0px;
}
.userMenu a{
    display: block;
    margin: 0 15px;
}
.userMenu img{
    display: block;
    width: 28px;
    min-width: 28px;
}

/* nav sous menu */
ul .sub { 
    background: #edd961;
    position: absolute;
    align-items: center;
    max-height: 0px; /* c'est la position de départ pour cacher le sous menu */
    transition: .5s;
    overflow: hidden; /* ça cache le sous menu */
    top: 40px;
    padding: 0;
}
.sub li{
    white-space: nowrap;
}
.sub li a{
    font-size: 0.7rem;
    text-transform: capitalize;
    border: none;
    padding: 0 10px;
    color: #403038;
}
.sub li a:hover{
    background: white;
    /* padding: 20px 0px; */
    border: none;
}
li:hover .sub{
    max-height: 45px;
}

/* Fil d'ariane (breadcrumb) */
.breadcrumb ul {
    display: flex;

    font-size: 0.7rem;
    text-decoration: none;
    list-style: none;
    padding: 0;
    color: #403038;
    margin: 0;
    margin-top: 10px;
}
.breadcrumb ul li a{
    font-size: 0.7rem;
    font-weight: 300;
    color: #403038;
    text-decoration: none;
}
.breadcrumb ul li a:first-child{
    text-align: right;
}

.breadcrumb li::before {
    content: "> ";
    margin-left: 5px;
    color: #403038;
}
    
.breadcrumb li:first-child::before {
    content: "";
}

/* description sur les banners images */

.headerImage p{
    text-align: center;
    font-family: 'Special Elite', cursive;
    font-size: 1rem;
    color: #403038;
    padding: 0;
    margin: 0;
    max-width: 50%;
    margin: auto;
    line-height: 2.2rem;
}

.headerImage p.error {
    text-align: center;
    font-family: 'Special Elite', cursive;
    font-size: 3rem;
    color: #ffffff;
    padding: 0;
    margin: 0;
    max-width: 50%;
    margin: auto;
    line-height: 2.2rem;
}

.headerImage p span{
    background: white;
    padding: 0.3rem;
    box-shadow: 1rem 0px 0px white, -1rem 0px 0px white; /* pour ajouter du blanc à gauche et à droite afin que ça ne soit pas collé sur le bord du texte*/
}

/* les titres */
h1{
    font-size: 1.2rem;
    font-weight: 300;
    color: #750663;
    padding: 40px 0;
    text-align: center;
}

h2{
    font-size: 0.9rem;
    text-align: center;
    padding: 40px 0px;
    margin: 0;
    color: #403038;
}

h3 {
    font-size: 0.8rem;
    font-weight: 500;
    margin: 0px;
    padding: 0px 0px 10px 50px;
}
/* h5 {
    font-size: 0.8rem;
    font-weight: 500;
    color: #403038;
    margin: 10px 0px;
} */

/* bouton voir la boutique */
.cta{
    display: block;
    font-size: 0.9rem;
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    background: #750663;
    color: white;
    padding: 10px;
    width: 30%;
    margin: 60px auto;
    transition: all .5s ease;
}
/* bouton voir page profil global */
.ctaConnexion {
    display: block;
    font-size: 0.9rem;
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    background: white;
    border: 1px solid #888;
    padding: 10px;
    width: 20%;
    margin: 60px auto;
    margin-bottom: 80px;
    transition: all .5s ease;
}

.ctaConnexion img {
    padding-right: 15px;
}

.ctaConnexion a {
    text-decoration: none;
    color: #403038;
}

/* Pagination fin de page */
.pagination{
    display: flex;
    justify-content: center;
    margin: auto;
    padding-bottom: 80px;
}

.pagination a{
    text-decoration: none;
    font-size: 0.8rem;
    font-weight: 300;
    color: #403038;
}
.pagination .previousPage{
    padding-right: 20px;
    position: relative;
    text-align: right;
}
.pagination .previousPage:after{
    content: "";
    position: absolute;
    background-image: url(img/fleche-left-20px.png);
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    top: 5px;
}
.pagination .nextPage{
    padding-left: 20px;
    position: relative;
}
.pagination .nextPage:before{
    content: "";
    position: absolute;
    background-image: url(img/fleche-right-20px.png);
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    top: 5px;
    left: -2px;
}
.page{
    font-size: 0.8rem;
    font-weight: 500;
    color: #403038;
    padding: 0 20px;
    padding-top: 3px;
}

/* Footer */
footer{
    background: #403038;
    /* height: 300px; */
    display: flex;
    padding: 80px 80px;
}
.footerBox{
    display: block;
    margin: auto;
    width: 25%;
}
.footerBox img{
    width: 50%;
    padding-bottom: 20px;
}
.footerBox p{
    margin: 0;
    font-size: 0.8rem;
    font-weight: 300;
    color: white;
}
.footerBox ul li a{
    text-decoration: none;
    color: white;
    font-size: 0.8rem;
    font-weight: 300;
    line-height: 1.8rem;
}
.footerBox ul{
    margin: 0;
    list-style: none;
}
.facebook{
    position: relative;
}
.facebook:before{
    content: "";
    background-image: url(img/akar-icons_facebook-fill.svg);
    background-repeat: no-repeat;
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    left: -40px;
    top: 0.5px;
}
.instagram{
    position: relative;
}
.instagram:before{
    content: "";
    background-image: url(img/akar-icons_instagram-fill.svg);
    background-repeat: no-repeat;
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    left: -40px;
    top: 0.5px;
}

/* Bouton scroll to top */

#scroll{
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    padding: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    z-index: 100000;
    border: solid 1px #d8d8d8;
    background-color: white;
    background-image: url(img/mdi_arrow-up.svg);
    background-repeat: no-repeat;
    background-size: cover;
    text-transform: uppercase;
    cursor: pointer;
    transition: all.5s ease-in-out;
}

#scroll:hover{
    background-color: #75066341
}

/* Tablet */

@media screen and (min-width: 600px) and (max-width: 1024px) {   
    html{
        font-size: 18px;
    }
    .cta{
        width: 40%;
        margin: 50px auto;
    }
    .ctaConnexion {
        width: 30%;
        margin: 60px auto;
    }
    h1{
        padding: 30px 0;
    }

    /* --------- Menu hamburger + sous menu ---------- */

    .menuDesktop{
        display: none;
    }
    .hamburger{ /* div de base du menu hamburger qui s'ouvre */
        display: flex;
        flex-direction: column;
    }
    #burger{
        display: flex;
    }

    .menuBurger{
        border-top: #d8d8d8 solid 1px;
        border-bottom: #d8d8d8 solid 1px;
        padding: 10px 0;
    }

    #burger{ /* ici c'est le bloc - la zone où vont venir les lignes du burger */
        width: 30px;
        margin: 10px;
        height: 12px;
        position: relative;
    }
    #burger button{  /* c'est la ligne du burger du milieu*/
        background: #403038;
        border: none;
        width: 100%;
        height: 3px;
        color: white;
        font-size: 25px;
        text-indent: -9999px; /* texte ne se voit plus car indenté en négatif... attention aux moteurs de recherche */
        position: absolute;
        top: 6px;
        opacity: 1;
        transition: .3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    #burger:before{ /* c'est la ligne burger du haut*/
        content: '';
        background: #403038;
        width: 100%;
        height: 3px;
        display: block;
        position: absolute;
        top: 0px;
        transform-origin: 9px 5px;
        transition: .3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    #burger:after{ /* c'est la ligne burger du bas*/
        content: '';
        background: #403038;
        width: 100%;
        height: 3px;
        display: block;
        position: absolute;
        top: 12px;
        transform-origin: 7px -1px;
        transition: .3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }

    .opened #burger button{
        opacity: 0;
    }
    .opened #burger:before{
        transform: rotate(45deg);
    }
    .opened #burger:after{
        transform: rotate(-45deg);
    }
    .opened ul{ /* ouverture du menu */
        /* transform: scaleY(1); */
        max-height: 100vh;
    }

    /* nav sous menu */
    .subBurger{
        display: flex;
        flex-direction: column;
    }
    ul .subBurger { 
        background: #edd961;
        
    }
    .subBurger li a{
        font-size: 0.7rem;
        text-transform: capitalize;
        border: none;
        padding: 0 10px;
        color: #403038;
    }
    .subBurger li:hover{
        background: white;
        border: none;
    }

    /* Footer */
    footer{
        padding: 60px 60px;
    }
    .footerBox img{
        width: 60%;
    }
    
}


/* Mobile */

@media screen and (min-width: 360px) and (max-width: 600px){
    html{
        font-size: 16px;
    }
    .cta{
        width: 50%;
        margin: 40px auto;
    }
    .ctaConnexion {
        width: 70%;
        margin: 60px auto;
    }
    h1{
        padding: 20px 0;
    }

    /* Fil d'ariane (breadcrumb) */
    .breadcrumb ul {
        display: flex;
        font-size: 0.6rem;
        text-decoration: none;
        list-style: none;
        padding: 0;
        color: #403038;
        margin: 0;
        margin-top: 10px;
    }
    .breadcrumb ul li a{
        font-size: 0.6rem;
        font-weight: 300;
        color: #403038;
        text-decoration: none;
    }

    .breadcrumb li::before {
        content: "> ";
        margin-left: 5px;
        color: #403038;
    }
        
    .breadcrumb li:first-child::before {
        content: "";
    }

    /* --------- Menu hamburger + sous menu ---------- */

    .menuDesktop{
        display: none;
    }
    .hamburger{ /* div de base du menu hamburger qui s'ouvre */
        display: flex;
        flex-direction: column;
    }
    #burger{
        display: flex;
    }

    .menuBurger{
        border-top: #d8d8d8 solid 1px;
        border-bottom: #d8d8d8 solid 1px;
        padding: 10px 0;
    }

    #burger{ /* ici c'est le bloc - la zone où vont venir les lignes du burger */
        width: 30px;
        margin: 10px;
        height: 12px;
        position: relative;
    }
    #burger button{  /* c'est la ligne du burger du milieu*/
        background: #403038;
        border: none;
        width: 100%;
        height: 3px;
        color: white;
        font-size: 25px;
        text-indent: -9999px; /* texte ne se voit plus car indenté en négatif... attention aux moteurs de recherche */
        position: absolute;
        top: 6px;
        opacity: 1;
        transition: .3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    #burger:before{ /* c'est la ligne burger du haut*/
        content: '';
        background: #403038;
        width: 100%;
        height: 3px;
        display: block;
        position: absolute;
        top: 0px;
        transform-origin: 9px 5px;
        transition: .3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    #burger:after{ /* c'est la ligne burger du bas*/
        content: '';
        background: #403038;
        width: 100%;
        height: 3px;
        display: block;
        position: absolute;
        top: 12px;
        transform-origin: 7px -1px;
        transition: .3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }

    .opened #burger button{
        opacity: 0;
    }
    .opened #burger:before{
        transform: rotate(45deg);
    }
    .opened #burger:after{
        transform: rotate(-45deg);
    }
    .opened ul{ /* ouverture du menu */
        /* transform: scaleY(1); */
        max-height: 100vh;
    }

    /* nav sous menu */
    .subBurger{
        display: block;
    }
    ul .subBurger { 
        background: #edd961;
    }
    .subBurger li a{
        font-size: 0.7rem;
        text-transform: capitalize;
        border: none;
        padding: 0 10px;
        color: #403038;
    }
    .subBurger li:hover{
        background: white;
        border: none;
    }

    /* Footer */
    footer{
        flex-direction: column;
    }
    .footerBox p{
        text-align: center;
        padding-bottom: 5px;
    }
    .footerBox ul{
        text-align: center;
        padding: 0;
    }
    .footerBox li{
        padding: 15px 0;
    }
    .footerBox{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        padding-bottom: 40px;
    }
    .footerBox .facebook:before{
        left: 20px;
        top: 20px;
    }
    .footerBox .instagram:before{
        left: 20px;
        top: 20px;
    }

    /* Bouton scroll to top */
    #scroll{
        right: 20px;
        width: 40px;
        height: 40px;
    }


}