/* Header banner image */
.headerImage{
    height: 200px;
    background-image: url(img/banner-panier.jpg); /* < ici !*/
}
.headerImage:after{
    height: 200px;
}

/* ----- Main ------ */
main{
    width: 80%;
    margin: auto;
    max-width: 1280px;
}

.cartContent{
    width: 100%;
    display: flex;
    margin: auto;
}

.purchases{
    width: 60%;
}
.partLeft{
    display: flex;
    padding: 10px 0;
    border-bottom: solid 1px #403038;
}
.partLeft .cat{
    font-size: 0.7rem;
    font-weight: 300;
    text-transform: uppercase;
}
.productImage{
    width: 40%;
}
.productImage img{
    width: 100%;
    padding-top: 5px;
}
.titleLine1{
    font-size: 0.75rem;
    color: #403038;
    font-weight: 500;
    text-transform: uppercase;
}
.product-infos{
    width: 60%;
}

.totalTtc{
    display: block;
    text-align: right;
    padding-left: 10px;
    width: 30%;
}
.cartContent{
    padding-bottom: 80px;
}
.totalTtc .price{
    text-align: right;
}
.orderSummary{
    width: 40%;
    background-color: #ECEAEB;
    padding: 10px;
    margin-left: 20px;
}
.titleOrder{
    display: block;
    font-size: 1rem;
    color: #403038;
    font-weight: 500;
}
.nbrArticle{
    display: block;
    font-size: 0.8rem;
    color: #403038;
    font-weight: 300;
    padding-bottom: 40px;
}

/* Tablet */

@media screen and (min-width: 600px) and (max-width: 1024px) {
    /* Banner image */
    .headerImage{
        height: 140px;
        padding-top: 90px;
    }
    .headerImage:after{
        height: 140px;
    }

    /* main */
    .cartContent{
        width: 100%;
        flex-direction: column-reverse;
    }
    .purchases{
        width: 100%;
    }
    .partLeft{
        width: 100%;
    }
    .orderSummary{
        width: 100%;
        box-sizing: border-box;
        margin-left: 0;
    }
}

/* Mobile */

@media screen and (min-width: 360px) and (max-width: 600px){
    /* Banner image */
    .headerImage{
        height: 100px;
        padding-top: 90px;
    }
    .headerImage:after{
        height: 100px;
    }
    .headerImage p{
        max-width: 80%;
    }

    /* main */
    .cartContent{
        width: 100%;
        flex-direction: column-reverse;
    }
    .purchases{
        width: 100%;
    }
    .partLeft{
        width: 100%;
    }
    .orderSummary{
        width: 100%;
        box-sizing: border-box;
        margin-left: 0;
    }
}