/* Header banner image */
.headerImage{
    height: 200px;
    background-image: url(img/banner-papeterie-2.jpg); 
}
.headerImage:after{
    height: 200px;
}

/* Tablet */

@media screen and (min-width: 600px) and (max-width: 1024px) {
    /* Banner image */
    .headerImage{
        height: 140px;
        padding-top: 90px;
    }
    .headerImage:after{
        height: 140px;
    }
}

/* Mobile */

@media screen and (min-width: 360px) and (max-width: 600px){
    /* Banner image */
    .headerImage{
        height: 100px;
        padding-top: 90px;
    }
    .headerImage:after{
        height: 100px;
    }
    .headerImage p{
        max-width: 80%;
    }
}