/* header banner image sur toutes les pages .css - changer juste le lien de l'image !*/
.headerImage{
    padding: 0;
    padding-top: 80px;
    margin: 0;
    width: 100%;
    height: 200px;
    background-image: url(img/banner-pointsDeVente.jpg); /* < ici !*/
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
}
.headerImage:after{
    content: "";
    background-color: #403038;
    width: 100%;
    height: 200px;
    position: absolute;
    opacity: 0.6;
    z-index: 1;
}
.headerImage p{
    z-index: 2;
}
/* ------------------------------------------------------------------------------------------------- */


/* --------------------------- MAIN ----------------------- */
main {
    width: 80%;
    margin: auto;
    color: #403038;
}

/* ----- FIL ARIANNE -----*/

/* ----------  Fil d'ariane (breadcrumb) */
.breadcrumb ul {
    display: flex;
    font-size: 0.7rem;
    text-decoration: none;
    list-style: none;
    padding: 0;
    color: #403038;
    margin: 0;
    margin-top: 10px;
}
.breadcrumb ul li a{
    font-size: 0.7rem;
    font-weight: 300;
    color: #403038;
    text-decoration: none;
}

.breadcrumb li::before {
    content: "> ";
    margin-left: 5px;
    color: #403038;
}
    
.breadcrumb li:first-child::before {
    content: "";
}

/* -------------------FERMETURE FIL D'ARIANNE----- */



/* ------------------ DIV CONTAINER LISTE DES MAGASINS ------------------*/

.listeMag {
    margin-top: 80px;
    margin-bottom: 80px;
}


/* ------------------ DIV MAGASIN ------------- */

.mag {
    display: flex;
    justify-content: space-between;
    margin: 30px 0px;
}

/* ------------- BLOC NOM DU MAG ET ADRESSE POSTALE---- */

.lieux {
    width: 30%;
    margin-right: 10%;
}

.nomMag {
    color: #750663;
    padding: 0px;
    font-weight: 500;
    width: 250px;
    block-size: 250px;
    writing-mode: horizontal-tb;    
    width: auto;
}

.adresse {
    width: 200px;
    margin-right: 10%;
}


/* ---------------  BLOC DONNEES  ----------- */

.donnees {
    width: 250px;
    margin-right: auto;
    position: relative;
} 


.tel:before{
    content: "";
    background-image: url(img/vector-téléphone.png);
    background-repeat: no-repeat;
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    left: -40px;
    top: 0.5px;
}
.tel {
    position: relative;
}

.horaires:before{
    content: "";
    background-image: url(img/vector-horloge.png);
    background-repeat: no-repeat;
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    left: -40px;
    top: 0.5px;
}

.horaires {
    position: relative;
}


/* ---------------------- CTA ----------- */

/* .cta{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    font-size: 0.9rem;
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: none;
    background: #750663;
    color: white;
    padding: 10px;
    width: 30%; 
    max-height: 40px;
    transition: all .5s ease;
} */


/* ------------- ligne horizontale ------------- */
hr {
    border: #750663 0.5px solid;
    width: auto;
}



/* -----------------------MEDIA QUERIES -------------------- */



/* TABLETTE */

@media screen and (min-width: 600px) and (max-width: 1024px) {
    
    
    /* ----------HEADER ------------ */
    .headerImage{
        height: 140px;
        padding-top: 90px;
    }
    .headerImage:after{
        height: 140px;
    }
    
   
   /* ------------ MAIN -------------*/
   
   
    .main{
        width: 100%;
        margin: auto;
        font-size: 0.6rem;   
    }
    
    .listeMag {
        margin: 30px 0px;
    }

    .lieux .donnees {
        flex-wrap: wrap;
        margin-left: 20%;
    }
   
    .lieux {
        max-width: 180px;
        margin: 0 40px 0 30px;
        max-height: 200px;
    }
    .adresse {
        min-width: 180px;
    }
    .donnees {
        margin: 0 30px;
        min-width: 180px;
    }
    .mag {
        flex-wrap: wrap;
    }
    .cta {
        min-width: 220px;
        max-height: 20px;
        flex-grow: 1;
        margin: 0 auto;
    } 
 
}



/* SMARTPHONE */

@media screen and (min-width : 360px) and (max-width : 600px) {
    /* ----------HEADER ------------ */

    .headerImage{
        height: 100px;
        padding-top: 90px;
    }
    .headerImage:after{
        height: 100px;
    }
    
    .headerImage p {
        max-width: 80%;
    }
    /* .main{
        width: 100%;
        margin: auto;
        font-size: 0.5rem;   
    } */
    .listeMag {
        width: 100%;
        margin: auto;  
        margin: 20px 0px;
    }
    .mag {
        flex-direction: column;
        margin-left: 15%
    }
    .lieux {
        max-width: 250px;
    }
    .cta {
        min-width: 220px;
        max-height: 20px;
    }  
}