/* Header banner image */
.headerImage{
    height: 200px;
    background-image: url(img/banner-pointsDeVente.jpg); /* < ici !*/
}
.headerImage:after{
    height: 200px;
}


/* --------------------------- MAIN ----------------------- */

main{
    width: 93.75%;
    margin: auto;
    max-width: 1280px;
}

/* ------------------ DIV CONTAINER LISTE DES MAGASINS ------------------*/

.listeMag {
    margin: 80px auto;
}


/* ------------------ DIV MAGASIN ------------- */

.mag {
    display: flex;
    justify-content: space-between;
    margin: 30px 0px;
}



/* ------------- BLOC NOM DU MAG ET ADRESSE POSTALE---- */

.lieux {
    width: 30%;
    margin-right: 10%;
}

.nomMag {
    color: #750663;
    padding: 0px;
    font-size: 1rem;
    font-weight: 500;
}

.adresse {
    width: 300px;
    font-size: 1rem;
    font-weight: 300;
    color: #403038;
}
.tel {
    font-size: 1rem;
    font-weight: 300;
    color: #403038;
}
.horaires {
    font-size: 1rem;
    font-weight: 300;
    color: #403038;
}


/* ---------------  BLOC DONNEES  ----------- */

.donnees {
    width: 250px;
    margin-right: auto;
    position: relative;
} 


.tel:before{
    content: "";
    background-image: url(img/vector-téléphone.png);
    background-repeat: no-repeat;
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    left: -40px;
    top: 0.5px;
}
.tel {
    position: relative;
}

.horaires:before{
    content: "";
    background-image: url(img/vector-horloge.png);
    background-repeat: no-repeat;
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    left: -40px;
    top: 0.5px;
}

.horaires {
    position: relative;
}


/* ---------------------- CTA ----------- */

.cta{
    height: 40px;
    padding: 10px 10px 0px;
}


/* ------------- ligne horizontale ------------- */
hr {
    border: #750663 0.5px solid;
    width: auto;
}



/* -----------------------MEDIA QUERIES -------------------- */



/* TABLETTE */

@media screen and (min-width: 600px) and (max-width: 1024px) {
   
    
    /* ----------HEADER ------------ */
    .headerImage{
        height: 140px;
        padding-top: 90px;
    }
    .headerImage:after{
        height: 140px;
    }
    
   
   /* ------------ MAIN -------------*/
   
   
    .main{
        width: 100%;
        margin: auto;
        font-size: 0.8rem;   
    }
    
    .listeMag {
        margin: 30px 0px;
    }

    .lieux .donnees {
        flex-wrap: wrap;
        margin-left: 20%;
    }
   
    .lieux {
        max-width: 180px;
        margin: 0 40px 0 30px;
        max-height: 200px;
    }
    .adresse {
        min-width: 180px;
    }
    .donnees {
        margin: 0 30px;
        min-width: 180px;
    }
    .mag {
        flex-wrap: wrap;
    }
    .cta {
        min-width: 220px;
        max-height: 20px;
        /* flex-grow: 1; */
        margin: 0 auto;
        padding: 10px;
    } 
 
}



/* SMARTPHONE */

@media screen and (min-width : 360px) and (max-width : 600px) {


    .headerImage{
        height: 100px;
        padding-top: 90px;
    }
    .headerImage:after{
        height: 100px;
    }
    
    .headerImage p {
        max-width: 70%;
    }
   
    .listeMag {
        width: 100%;
        margin: 40px auto;  
        margin: 20px 0px;
    }

    .mag {
        flex-direction: column;
        margin-left: 15%;
        margin-bottom: 40px;
    }
    .lieux {
        width: 100%;
    }
    .cta {
        min-width: 220px;
        max-height: 20px;
        padding: 10px;
        margin: 0px auto 0px 0px;
    }  
    .nomMag {
        width: 100%;
    }
}