/* Header banner image */

.headerImage{
    height: 200px;
    background-image: url(img/banner-profil.jpg); /* < ici !*/
}

.headerImage:after{
    height: 200px;
}

/* -------------------------------------------------------------------- */

/* ----- Main ----- */

main{
    width: 80%;
    margin: auto;
    max-width: 1280px;
}

/* -------------------------------------------------------------------- */

/* Navigation profil */

.profil {
    padding-top: 25px;
    padding-bottom: 50px;
}

ul li.active{
    background-color: #403038;
}

.profil li{
    width: 100%;
    padding: 10px 0px;
}

.profil a {
    text-decoration: none;
    color: white;
}

/* -------------------------------------------------------------------- */

/* Adresses */

.titreInfos {
    font-size: 0.9rem;
    color: #403038;
}

.line {
    border-bottom: 2px #403038 solid;
}

.flexInfos {
    display: flex;
    justify-content: space-between;
}

.texteClient {
    font-size: 0.8rem;
    color: #403038;
}

.cta {
    width: 30%;
    font-size: 0.7rem;
    margin: 16px 0 60px 60px;
}

.infosClient {
    padding-bottom: 50px;
    font-size: 0.8rem;
    color: #403038;
}

/* -------------------------------------------------------------------- */


/* ---------------- MEDIAQUERIES -------------- */

@media screen and (min-width: 600px) and (max-width: 1024px) {

    /* Banner image */

    .headerImage{
        height: 140px;
        padding-top: 90px;
    }
    
    .headerImage:after{
        height: 140px;
    }

    /* -------------------------------------------------------------------- */

    
}


@media screen and (min-width : 375px) and (max-width : 600px){

    /* Banner image */

    .headerImage{
        height: 100px;
        padding-top: 90px;
    }

    .headerImage:after{
        height: 100px;
    }

    .headerImage p{
        max-width: 80%;
    }

    /* -------------------------------------------------------------------- */

    /* Adresses */

    .flexInfos {
        display: block;
    }

    .cta {
    width: 53%;
    margin: 16px 0 60px 0;
    }

    /* -------------------------------------------------------------------- */

    /* Navigation profil */

    .profil ul{
        flex-direction: column;
    }

    .profil li{
        margin-right: 0;
        margin-bottom: 5px;
    }

    /* -------------------------------------------------------------------- */

}