/* Header banner image */

.headerImage{
    height: 200px;
    background-image: url(img/banner-profil.jpg); /* < ici !*/
}

.headerImage:after{
    height: 200px;
}

/* -------------------------------------------------------------------- */

/* ----- Main ----- */

main{
    width: 93.75%;
    margin: auto;
    max-width: 1280px;
}

/* -------------------------------------------------------------------- */

/* Intro */

.profilIntro {
    text-align: center;
    font-size: 0.8rem;
    padding-bottom: 40px;
}

/* -------------------------------------------------------------------- */

/* Navigation profil */

.profil {
    margin: auto;
    margin-bottom: 40px;
    /* max-width: 800px; */
}

.profil ul{
    justify-content: center;
    /* padding-bottom: 20px; */
    flex-wrap: wrap;
    max-width: 500px;
    margin: auto;
}

.flexIcon {
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
}

.profil a{
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 25%;
}


.profil a::before {
    content:'';
    background-repeat: no-repeat;
    background-position: center 50px;
    display:block;
    position:absolute;
    top:0;
    left:0;
    text-indent:-9999px;
    width:100%;
    height:100%;
}

.infos::before {
    background-image: url(img/mesinformations.svg);
    background-size: 30%;
}
.adresse::before {
    background-image: url(img/mesadresses.svg);
    background-size: 38%;
}
.commandes::before {
    background-image: url(img/mescommandes.svg);
    background-size: 30%;
}

.favoris::before {
    background-image: url(img/mawhishlist.svg);
    background-size: 30%;
}

/* -------------------------------------------------------------------- */

/* ---------------- MEDIAQUERIES -------------- */

@media screen and (min-width: 600px) and (max-width: 1024px) {

    /* Banner image */

    .headerImage{
        height: 140px;
        padding-top: 90px;
    }
    
    .headerImage:after{
        height: 140px;
    }

    .flexIcon {
       min-width: 200px;
    }
    
    .profil ul {
        max-width: 450px;
    }

    .profil a::before {
        background-position: center 60px;
    }

    /* -------------------------------------------------------------------- */

}


@media screen and (min-width : 360px) and (max-width : 600px){
     
    /* Banner image */
    
     .headerImage{
        height: 100px;
        padding-top: 90px;
    }

    .headerImage:after{
        height: 100px;
    }

    .headerImage p{
        max-width: 80%;
    }
   
    /* Main */
    .flexIcon{
        margin: 0px;
        margin-bottom: 10px;
        width: 140px;
        height: 140px;
    }
   
    .profil ul {
        padding-bottom: 0px;
        max-width: 350px;
    }
   
    .profil a::before {
        background-position: center 35px;
    }


}