/* Header banner image */

.headerImage{
    height: 200px;
    background-image: url(img/banner-profil.jpg); /* < ici !*/
}

.headerImage:after{
    height: 200px;
}

/* -------------------------------------------------------------------- */

/* ----- Main ----- */

main{
    width: 93.75%;
    margin: auto;
    max-width: 1280px;
}

/* -------------------------------------------------------------------- */

/* Navigation profil */

.profil {
    padding-top: 25px;
    padding-bottom: 50px;
}

ul li.active{
    background-color: #403038;
}

.profil li{
    width: 100%;
    padding: 10px 0px;
}
.profil li:last-child{
    margin-right: 0;
}

/* --- icônes dans navigation profil --- */

.flexIcon {
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    position: relative;
}

.profil a{
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.7rem;
}

.profil a::before {
    content:'';
    background-repeat: no-repeat;
    background-position: 13px;
    display:block;
    position:absolute;
    top:0;
    left:0;
    text-indent:-9999px;
    width:100%;
    height:100%;
}

.infos::before {
    background-image: url(img/infos-25px.svg);
    background-size: 10%;
}
.adresses::before {
    background-image: url(img/adresses-25px.svg);
    background-size: 10%;
}
.commandes::before {
    background-image: url(img/commandes-25px.svg);
    background-size: 10%;
}
.favoris::before {
    background-image: url(img/favoris-25px.svg);
    background-size: 10%;
}


/* -------------------------------------------------------------------- */

/* Informations personnelles */

.flexInfos {
    display: flex;
    justify-content: space-between;
}

.texteClient {
    font-size: 0.8rem;
    color: #403038;
}

.cta {
    font-size: 0.8rem;
    margin: 16px 0 60px 0px;
}

.ctaDeconnexion{
    margin-top: 0;
}

.titreInfos {
    font-size: 0.9rem;
    color: #403038;
}

.line {
    border-bottom: 2px #403038 solid;
}

.infosClient {
    padding-bottom: 50px;
    font-size: 0.8rem;
    color: #403038;
}

/* -------------------------------------------------------------------- */

/* ---------------- MEDIAQUERIES -------------- */

@media screen and (min-width: 600px) and (max-width: 1024px) {

    /* Banner image */

    .headerImage{
        height: 140px;
        padding-top: 90px;
    }
    
    .headerImage:after{
        height: 140px;
    }

    /* Navigation profil */

    .profil a::before {
        display: none;
    }

    .cta {
        width: 40%;
        }

    /* -------------------------------------------------------------------- */
    
}


@media screen and (min-width : 360px) and (max-width : 600px){

    /* Banner image */

    .headerImage{
        height: 100px;
        padding-top: 90px;
    }

    .headerImage:after{
        height: 100px;
    }

    .headerImage p{
        max-width: 80%;
    }

    /* -------------------------------------------------------------------- */

    /* Navigation profil */

    .profil {
        padding-bottom: 10px;
    }

    .profil ul{
        flex-direction: column;
    }

    .profil li{
        margin-right: 0;
        margin-bottom: 5px;
    }

    .profil a::before {
        display: none;
    }

    /* -------------------------------------------------------------------- */

    /* Informations personnelles */

    .flexInfos {
        display: block;
    }

    .cta {
        width: 100%;
        margin: 16px 0 40px 0;
        box-sizing: border-box;
    }

    .ctaDeconnexion{
        margin-top: 0;
    }

    /* -------------------------------------------------------------------- */

}