/* Header banner image */

.headerImage{
    height: 200px;
    background-image: url(img/banner-profil.jpg); /* < ici !*/
}

.headerImage:after{
    height: 200px;
}

/* -------------------------------------------------------------------- */

/* ----- Main ----- */

/* main{
    width: 80%;
    margin: auto;
    max-width: 1280px;
} */

/* -------------------------------------------------------------------- */

/* Navigation profil */

/* .profil {
    padding-top: 25px;
    padding-bottom: 50px;
}

ul li.active{
    background-color: #403038;
}

.profil li{
    width: 100%;
    padding: 10px 0px;
}

.profil a {
    text-decoration: none;
    color: white;
} */

/* ----------------------------------------------------------------- */

/* Coup de coeur */

.titreInfos {
    font-size: 0.9rem;
    color: #403038;
}

.firstLine {
    border-bottom: 2px #403038 solid;
    margin: 16px 0;
}

.secondLine {
    border-bottom: 1px #403038 solid;
    margin: 16px 0;
}

.flexWishlist {
    display: flex;
}

.badgeWishlist {
    width: 20%;
}

.flexInfosWhishlist {
    margin-left: 25px;
}

.titreInfosWishlist {
    margin: 0;
}

.flexInfosWhishlist span{
    font-size: 0.7rem;
    font-weight: 300;
    text-transform: uppercase;
    padding-top: 5px;
    color: #403038;
}

.iconWishlist {
    position: absolute;
    top: 794px;
    width: 5%;
}

.iconWishlist2 {
    position: absolute;
    top: 1023px;
    width: 5%;
}


/* ----------------------------------------------------------------- */

/* Cta avec icone */

.buy{
    display: block;
    font-size: 0.8rem;
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    background: #750663;
    color: white;
    padding: 10px 0;
    width: 30%;
    margin: auto;
    margin-top: 10px;
    margin-right: 0;
    position: relative;
}

.buy:before{
    content: "";
    position: absolute;
    background-image: url(img/mdi_shopping-outline-white.svg);
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    left: 20px;
}

/* ----------------------------------------------------------------- */

/* ---------------- MEDIAQUERIES -------------- */

@media screen and (min-width: 600px) and (max-width: 1024px) {

    /* Banner image */

    .headerImage{
        height: 140px;
        padding-top: 90px;
    }
    
    .headerImage:after{
        height: 140px;
    }

    /* ----------------------------------------------------------------- */

    /* Coup de coeur */

    .flexWishlist {
        display: block;
    }

    .flexInfosWhishlist {
        display: inline-block;
        width: 40%;
        vertical-align: top;
    }

    .badgeWishlist {
        display: inline-block;
        width: 20%;
        vertical-align: top;
    }

    .iconWishlist {
        position: absolute;
        top: 690px;
        width: 5%;
    }

    /* ----------------------------------------------------------------- */

    /* Cta avec icone */

    .buy{
        width: 55%;
        margin-left: 0;
        margin-top: 16px;
    }

    /* ----------------------------------------------------------------- */

    
}


@media screen and (min-width : 360px) and (max-width : 600px){

    /* Banner image */

    .headerImage{
        height: 100px;
        padding-top: 90px;
    }

    .headerImage:after{
        height: 100px;
    }

    .headerImage p{
        max-width: 80%;
    }

    /* ----------------------------------------------------------------- */

    /* Nav profil */

    /* .profil ul{
        flex-direction: column;
    }
    
    .profil li{
        margin-right: 0;
        margin-bottom: 5px;
    } */

    /* ----------------------------------------------------------------- */

    /* Coup de coeur */

    .flexWishlist {
        display: block;
    }
    
    .flexInfosWhishlist {
        display: inline-block;
        width: 40%;
        vertical-align: top;
    }
    
    .badgeWishlist {
        display: inline-block;
        width: 40%;
        vertical-align: top;
    }
    
    .iconWishlist {
        position: absolute;
        top: 690px;
        width: 5%;
    }
    
    /* ----------------------------------------------------------------- */
    
    /* Cta avec icone */
    
    .buy{
        width: 85%;
        margin: auto;
    }
    
    /* ----------------------------------------------------------------- */
    
        
    

}