/* header banner image sur toutes les pages .css - changer juste le lien de l'image !*/
.headerImage{
    padding: 0;
    padding-top: 80px;
    margin: 0;
    width: 100%;
    height: 200px;
    background-image: url(img/banner-profil.jpg); /* < ici !*/
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
}
.headerImage:after{
    content: "";
    background-color: #403038;
    width: 100%;
    height: 200px;
    position: absolute;
    opacity: 0.6;
    z-index: 1;
}
.headerImage p{
    z-index: 2;
}
/* ------------------------------------------------------------------------------------------------- */
main {
    margin: auto;
    width: 80%;
}

.profil {
    padding-top: 25px;
    padding-bottom: 50px;
}

.profil ul{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0px;
    cursor: pointer;
}

ul li.active{
    background-color: #750663;
}

.profil li{
    background-color: #c6c1c4;
    width: 100%;
    text-align: center;
    padding: 10px 0px;
    margin-right: 10px;
    font-size: 0.8rem;
    font-weight: 300;
    color: white;
}
.profil li:hover{
    background-color: #750663;
    color: white;
}

.titreInfos {
    border-bottom: 2px chartreuse solid;
}

.infosClient {
    padding-bottom: 50px;
}

/* ---------------- MEDIAQUERIES -------------- */

@media screen and (min-width: 600px) and (max-width: 1024px) {
}


@media screen and (min-width : 375px) and (max-width : 600px){
    .headerImage{
        background-image: url(img/banner-profil-mobile.jpg) /* < ici !*/
    }
}