/* Header banner image */
.headerImage{
    height: 200px;
    background-image: url(img/banner-profil.jpg); /* < ici !*/
}
.headerImage:after{
    height: 200px;
}

/* ----- Main ----- */

main{
    width: 80%;
    margin: auto;
    max-width: 1280px;
}

/* Navigation profil */

.profil {
    padding-top: 25px;
    padding-bottom: 50px;
}

.profil a {
    text-decoration: none;
    color: white;
}

ul li.active{
    background-color: #403038;
}

.profil li{
    width: 100%;
    padding: 10px 0px;
}

/* ----------------------------------------------------------------- */

/* Coup de coeur */

.titreInfos {
    font-size: 0.9rem;
    color: #403038;
}

.firstLine {
    border-bottom: 2px #403038 solid;
    margin: 16px 0;
}

.secondLine {
    border-bottom: 1px #403038 solid;
    margin: 16px 0;
}

.flexInfos {
    display: flex;
    justify-content: space-between;
}

.flexInfosProduct {
    display: flex;
}

.badgeWishlist {
    width: 20%;
    height: 95%;
}

.infosTexte {
    margin-left: 15px;
}

.texteClient {
    font-size: 0.8rem;
    color: #403038;
    margin: 0;
}

.textePrix {
    margin: 0;
}

.iconWishlist {
    width: 10%;
    padding-top: 80px;
}

/* ----------------------------------------------------------------- */

/* Cta avec icone */

.buy{
    display: block;
    font-size: 0.8rem;
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    background: #750663;
    color: white;
    padding: 10px 0;
    width: 30%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 112px;
    margin-right: 0;
    position: relative;
}
.buy:before{
    content: "";
    position: absolute;
    background-image: url(img/mdi_shopping-outline-white.svg);
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    left: 20px;
}

/* ----------------------------------------------------------------- */

/* ---------------- MEDIAQUERIES -------------- */

@media screen and (min-width: 600px) and (max-width: 1024px) {

    /* Banner image */

    .headerImage{
        height: 140px;
        padding-top: 90px;
    }
    
    .headerImage:after{
        height: 140px;
    }

    /* ----------------------------------------------------------------- */

    /* Coup de coeur */

    .flexInfos {
        display: block;
    }

    .iconWishlist {
        width: 10%;
        padding-top: 94px;
    }

    /* ----------------------------------------------------------------- */

    /* Cta avec icone */

    .buy{
        width: 45%;
        margin-left: 0;
        margin-bottom: 0;
    }

    /* ----------------------------------------------------------------- */

    
}


@media screen and (min-width : 375px) and (max-width : 600px){

    /* Banner image */

    .headerImage{
        height: 100px;
        padding-top: 90px;
    }

    .headerImage:after{
        height: 100px;
    }

    .headerImage p{
        max-width: 80%;
    }

    /* ----------------------------------------------------------------- */

    /* Coup de coeur */

    .flexInfos {
        display: block;
    }

    .iconWishlist {
        width: 10%;
        padding-top: 34px;
    }

    /* ----------------------------------------------------------------- */

    /* .cta {
    width: 53%;
    margin: 16px 0 60px 0;
    } */

    /* Nav profil */

    .profil ul{
        flex-direction: column;
    }
    .profil li{
        margin-right: 0;
        margin-bottom: 5px;
    }

    /* ----------------------------------------------------------------- */

}