/* header banner image sur toutes les pages .css - changer juste le lien de l'image !*/
.headerImage{
    padding: 0;
    padding-top: 80px;
    margin: 0;
    width: 100%;
    height: 200px;
    background-image: url(img/banner-profilglobal.jpg); /* < ici !*/
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
}
.headerImage:after{
    content: "";
    background-color: #403038;
    width: 100%;
    height: 200px;
    position: absolute;
    opacity: 0.6;
    z-index: 1;
}
.headerImage p{
    z-index: 2;
}
/* ------------------------------------------------------------------------------------------------- */
main {
    margin: auto;
    width: 80%;
}

.profil {
    width: 60%;
    height: 50%;
    margin: auto;
}

.profil ul{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0px;
    padding-bottom: 10px;
    cursor: pointer;
}

.flexIcon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flexIcon img {
    width: 30%;
    height: 30%;
    padding-bottom: 15px;
}

ul li.active{
    background-color: #750663;
}

.profil li{
    background-color: #c6c1c4;
    width: 100%;
    text-align: center;
    padding: 120px 0px;
    margin-right: 10px;
    font-size: 0.8rem;
    font-weight: 300;
    color: white;
}
.profil li:hover{
    background-color: #750663;
    color: white;
}

.profilIntro {
    text-align: center;
    font-size: 0.8rem;
    padding-bottom: 56px;
}

.ctaConnexion {
    display: block;
    font-size: 0.9rem;
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    background: white;
    color: #403038;
    border: 1px solid #888;
    padding: 10px;
    width: 20%;
    margin: 60px auto;
    margin-bottom: 80px;
    transition: all .5s ease;
}

.ctaConnexion img {
    padding-right: 15px;
}

/* .flexIcon {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.bgInfos span {
    text-align: center;
}

.bgInfos {
    position: relative;
    background: chartreuse;
    width: 50%;
    height: 50%;
}

.bgInfos:before {
    content: "";
    background-image: url(img/mesinformations.svg);
    background-repeat: no-repeat;
    position: absolute;
    display: block;
    width: 80px;
    height: 80px;
    top: 5px;
}

.bgAdresses {
    position: relative;
    background: rgb(76, 131, 21);
    width: 50%;
    height: 50%;
}

.bgAdresses:before {
    content: "";
    background-image: url(img/mesadresses.svg);
    background-repeat: no-repeat;
    position: absolute;
    display: block;
    width: 80px;
    height: 80px;
    top: 5px;
}

.bgCommandes {
    position: relative;
    background: rgb(219, 65, 27);
    width: 50%;
    height: 50%;
}

.bgCommandes:before {
    content: "";
    background-image: url(img/mescommandes.svg);
    background-repeat: no-repeat;
    position: absolute;
    display: block;
    width: 80px;
    height: 80px;
    top: 5px;
}

.bgWishlist {
    position: relative;
    background: rgb(211, 7, 119);
    width: 50%;
    height: 50%;
}

.bgWishlist:before {
    content: "";
    background-image: url(img/mawhishlist.svg);
    background-repeat: no-repeat;
    position: absolute;
    display: block;
    width: 80px;
    height: 80px;
    top: 5px;
} */

/* ---------------- MEDIAQUERIES -------------- */

@media screen and (min-width: 600px) and (max-width: 1024px) {

}


@media screen and (min-width : 375px) and (max-width : 600px){
}