/* Header banner image */
.headerImage{
    height: 200px;
    background-image: url(img/banner-cgdv.jpg); /* < ici !*/
}
.headerImage:after{
    height: 200px;
}

/* Main */
main{
    width: 80%;
    margin: auto;
    max-width: 1280px;
}

.container {
    margin: auto;
    width: 60%; 
    background-color: white;
    padding-bottom: 80px;
}

.container article p {
    font-size: 0.8rem;
    font-weight: 300;
    margin: auto;
}

.article1:before {
    
    content: "";
    background-image: url(img/guillemetsOuverture.png);
    background-size: 100%;
    width: 200px;
    height: 200px;
    float:left ;
    min-width: auto;
    margin: 0px 20px 20px 0px;
}

.container article:last-of-type p{
    display: flex;
    align-items: flex-end;
}
.container article:last-of-type p:last-of-type:after {
    content: "";
    display:block;
    background-image: url(img/guillemetsFerme.png);
    background-size: 200px;
    width: 200px;
    height: 200px;
    margin: 20px 0px 0px 20px;
    flex-grow: 1;
    flex-shrink: 0;
}



/* ------------------ MEDIAQUERIES ------------------- */


@media screen and (max-width: 1024px) {
  
    .container div{
        flex-direction: column;
        height: auto;
    }
    .container div img, .container div p {
        width: 100%;
        min-height: 400px;
    }
    .container .second p {
        order: 2;
    }
    .article1:before {
        display: none;
    }
    .article4::before {
        display: none;
    }
}


 
@media screen and (max-width : 768px){
    .container {
        width: 90%;
    }
  
}


