/* header banner image sur toutes les pages .css - changer juste le lien de l'image !*/
.headerImage{
    padding: 0;
    padding-top: 80px;
    margin: 0;
    width: 100%;
    height: 200px;
    background-image: url(img/banner-shop-all-products.jpg); /* < ici !*/
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
}
.headerImage:after{
    content: "";
    background-color: #403038;
    width: 100%;
    height: 200px;
    position: absolute;
    opacity: 0.6;
    z-index: 1;
}
.headerImage p{
    z-index: 2;
}
/* ------------------------------------------------------------------------------------------------- */

/* Main */
main{
    width: 80%;
    margin: auto;
}

/* Liste des catégories de produits */

.category ul{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0px;
    cursor: pointer;
}
ul li.active{
    background-color: #750663;
}
.category a{
    text-decoration: none;
    color: white;
    font-weight: 300;
    font-size: 0.8rem;
}
.category li{
    background-color: #c6c1c4;
    width: 100%;
    text-align: center;
    padding: 10px 10px;
    margin-right: 10px;   
}
.category li:hover{
    background-color: #750663;
    color: white;
}


/* Ligne articles trouvés et rechercher */

.lineSearch{
    display: flex;
    padding: 40px 0px;
}
.itemsFound{
    font-size: 0.8rem;
    font-weight: 300;
}
.search{
    display: flex;
    margin-left: auto;
}
.search label{
    font-size: 0.8rem;
    font-weight: 300;
    color: #403038;
    text-transform: uppercase;
    padding-right: 10px;
}
.search input{
    border-style: none;
    border-bottom: #403038 solid 1px;
}
.lineSearch button{
    border-style: none;
    background-color: white;
    cursor: pointer;
}


/* la grille de produits */

.productGrid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 1280px;
    margin: auto;
}
.productGrid figure{
    margin: 0;
}
.productGrid .product{
    display: block;
    position: relative;
    max-width: 280px;
}
.productGrid .infoNew{
    display: flex;
    width: 80px;
    font-size: 0.8rem;
    padding: 0px 10px;
    background: #edd961;
    position: absolute;
    text-transform: uppercase;
    top: 20px;
}
.productGrid .infoPromo{
    display: flex;
    width: 60px;
    font-size: 0.8rem;
    padding: 0px 10px;
    background: #ff005c;
    color: white;
    position: absolute;
    text-transform: uppercase;
    top: 20px;
}
.outOfStock{
    display: block;
    font-size: 0.8rem;
    font-weight: 300;
    text-align: center;
    padding: 10px 0px;
    border-top: #403038 solid 1px;
    border-bottom: #403038 solid 1px;
    margin-bottom: 80px;
}
.like{
    display: flex;
    position: absolute;
    width: 30px;
    height: 30px;
    top: 0;
    right: 0;
    padding: 5px;
    background-color: white;
}
.like:hover{
    background-color: #edd961;
}
.productGrid .product img{
    width: 100%;
    display: block;
}
.productGrid .product figcaption{
    font-size: 0.7rem;
    font-weight: 300;
    text-transform: uppercase;
    padding-top: 5px;
}
.productGrid .productTitle{
    display: flex;
    justify-content: space-between;
}
.productTitle span{
    font-size: 0.8rem;
    font-weight: 500;
    color: #403038;
    margin: 10px 0px;
}

span.crossPrice{
    text-decoration: line-through;
    color: #c6c1c4;
}
span.promo{
    color: #ff005c;
}

.buy{
    display: block;
    font-size: 0.8rem;
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    background: #750663;
    color: white;
    padding: 10px 0;
    width: 100%;
    margin: auto;
    margin-bottom: 80px;
    position: relative;
}
.buy:before{
    content: "";
    position: absolute;
    background-image: url(img/mdi_shopping-outline-white.svg);
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    left: 20px;
}

/* Tablet */

@media screen and (min-width: 600px) and (max-width: 1024px) {
    /* Banner image */
    .headerImage{
        height: 140px;
        padding-top: 90px;
    }
    .headerImage:after{
        height: 140px;
    }

    /* la grille de produits */
    .productGrid .infoNew{
        width: 70px;
    }
    .productGrid .infoPromo{
        width: 55px;
    }
}

/* Mobile */

@media screen and (min-width: 360px) and (max-width: 600px){
    /* Banner image */
    .headerImage{
        height: 100px;
        padding-top: 90px;
    }
    .headerImage:after{
        height: 100px;
    }
    .headerImage p{
        max-width: 80%;
    }

    /* Liste des catégories de produits */
    .category ul{
        flex-direction: column;
    }
    .category li{
        margin-right: 0;
        margin-bottom: 5px;
    }

    /* Ligne articles trouvés et rechercher */
    .lineSearch{
        flex-direction: column;
        padding: 20px 0;
    }
    .lineSearch span{
        text-align: center;
        padding-bottom: 20px;
    }
    .search{
        margin: auto;
        padding-bottom: 20px;
    }

    /* la grille de produits */
    .buy{
        margin-bottom: 60px;
    }
    .outOfStock{
        margin-bottom: 60px;
    }
    .productGrid .infoNew{
        width: 60px;
    }
    .productGrid .infoPromo{
        width: 45px;
    }

}