/* Main */
.controlTunnel{
    display: flex;
    width: 93.75%;
    max-width: 1280px;
    margin: auto;
}
.leftPart{
    width: 50%;
    background-color: #E5E5E5;
    padding: 20px;
}
.underline{
    border-bottom: #403038 solid 1px;
}



/* partie droite résumé du panier */

.resumCart{
    width: 50%;
    padding: 20px;
}

.titleResum{
    display: block;
    font-size: 1rem;
    color: #403038;
    text-align: left;
    padding-bottom: 5px;
}

.numberArticle{
    display: block;
    font-size: 0.8rem;
    color: #403038;
    font-weight: 300;
    padding-bottom: 20px;
    border-bottom: #403038 1px solid;
}

/* Tablet */

@media screen and (min-width: 600px) and (max-width: 1024px) {
    .connectYou{
        display: block;
    }
    .connectYou a{
        padding-left: 0px;
    }
    .breadcrumb ul{
        display: block;
    }
    .resumCart .cta{
        width: 100%;
        box-sizing: border-box;
    }
    .cta{
        margin-bottom: 20px;
    }
}

/* Mobile */

@media screen and (min-width: 360px) and (max-width: 600px){
    .connectYou{
        display: block;
    }
    .connectYou a{
        padding-left: 0px;
    }
    .cta{
        margin-bottom: 20px;
    }
    .controlTunnel{
        display: flex;
        flex-direction: column;
    }
    .leftPart{
        width: 100%;
        box-sizing: border-box;
    }
    .resumCart{
        width: 100%;
        box-sizing: border-box;
    }
    
}